@media (prefers-color-scheme: dark) {
  body.dark-theme {
    background-color: #000;
  }
  
  .dark-theme .header__user-name,
  .dark-theme .header__user-status,
  .dark-theme .header__lvl-text,
  .dark-theme .main-value__count,
  .dark-theme .main__progress-value,
  .dark-theme .controls__link-name,
  .dark-theme .earn-block__text,
  .dark-theme .earn-block__link,
  .dark-theme .friends__title,
  .dark-theme .friends-block__text,
  .dark-theme .friends-list__title,
  .dark-theme .friends-list__user-name,
  .dark-theme .friends-list__current-value,
  .dark-theme .quests-block__title,
  .dark-theme .quests-block__info-title,
  .dark-theme .quests-block__info-value,
  .dark-theme .quests-category__title,
  .dark-theme .quests-category__text,
  .dark-theme .quests-category__item-title,
  .dark-theme .quests-category__item-value,
  .dark-theme .quests-category__bottom-text {
    color: #fff;
  }
  
  .dark-theme .header__lvl-block,
  .dark-theme .main,
  .dark-theme .earn-block__link,
  .dark-theme .quests-category__item {
    background-color: #101010;
  }
  
  .dark-theme .controls {
    background-color: #101010;
    border-color: #1B1B1B;
  }
  
  .dark-theme .controls__link-icon {
    fill: #fff;
  }
  
  .dark-theme .controls__link.active .controls__link-icon {
    fill: #007AFE;
  }
 
  .dark-theme .controls__link.active .controls__link-name {
    color: #fff;
  }
 
  .dark-theme .controls__link.active,
  .dark-theme .earn-block,
  .dark-theme .friends-list__item,
  .dark-theme .quests-block__list-item,
  .dark-theme .quests-category__block {
    background-color: #000;
  }

  .quests-category__item.active {
    background-color: #007AFE;
  }
}
 